<!DOCTYPE html>
<html lang="da" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Event information</title>

    <link rel="stylesheet" href="/deckforge.css">
    <link rel="stylesheet" href="/style.css">

</head>
<body>
<header class="header">
    <div class="container nav-container">
        <a href="#" class="logo">
            <img src="Logo_Deckforge2.png" class="logo-icon" alt="Deckforge logo">
        </a>

        <nav class="nav">
            <ul class="nav-list">
                <li><a th:href="@{/user/profile}">Din Profil</a></li>
                <li><a th:href="@{/event/ongoingEvents}">Events</a></li>
                <li><a href="#">Alle Kort</a></li>
            </ul>
        </nav>
    </div>
</header>

<section class="hero">
    <h1>Event information</h1>
</section>

<section class="content container">
    <h2 th:text="${event.name}" style="display:inline-block; margin-right:10px;"></h2>
    <form   id="participateForm"
            th:action="@{/event/participate/{id}(id=${event.id})}"
            method="post"
            style="display:none;"> <!-- Gør så denne knap er skjult fra starten af -->
        <input type="hidden"
               name="decision"
               value="yes">
        <button type="submit"
                class="btn small"
                onclick="return confirm('Tilmeld dig dette event?')">
            Tilmeld
        </button>
    </form>

    <div class="event-info">
        <p id="organizerProfile" style="display:none;"> <!-- Ligesom knappen ovenover, vil denne status-linje kun vises for arrangøren -->
            <strong>Status:</strong> <span th:text="${event.status.description}"></span>
        </p>
        <p><strong>Dato:</strong> <span th:text="${event.date}"></span></p>
        <p><strong>Tidspunkt:</strong> <span th:text="${event.time}"></span></p>
        <p><strong>Lokation:</strong> <span th:text="${event.location}"></span></p>
        <p><strong>Arrangør:</strong> <span th:text="${event.organizer.username}"></span></p>
        <p><strong>Antal deltagere:</strong> <span th:text="${event.maxParticipants}"></span></p>
        <p><strong>Regler:</strong> <span th:text="${event.rules}"></span></p>
        <p th:if="${event.format != null}"><strong>Format:</strong> <span th:text="${event.format}"></span>
        </p>
    </div>

    <div class="event-participants" th:if="${participants != null and !#lists.isEmpty(participants)}">

        <h3>Deltagere i eventet</h3>


        <ul>
            <li th:each="participant : ${participants}" th:text="${participant.username}">
            </li>
        </ul>

    </div>

</section>

<!--Bruges til at vise 'tilmeld' knappe hvis man åbner den fra 'ongoingEvents' siden -->
<script>
    const params = new URLSearchParams(window.location.search); // Denne linje hjælper med at tjekke hvad der står efter URL'en

    if (params.get("from") === "ongoing") { // Læser URL parametren, det der blev sendt ind fra den html man var på før man trykkede ind på denne
        document.getElementById("participateForm").style.display = "inline-block"; // Tager knappens id og ændrer dens udseende så man igen kan se knappen
    }
</script>

<!-- Bruges til at vise 'status' linjen for arrangøren hvis det er dem der åbner den fra deres egen profil -->
<script>
    const params = new URLSearchParams(window.location.search); // Denne linje hjælper med at tjekke hvad der står efter URL'en

    if (params.get("from") === "profile") { // Læser URL parametren, det der blev sendt ind fra den html man var på før man trykkede ind på denne
        document.getElementById("organizerProfile").style.display = "inline-block"; // Tager knappens id og ændrer dens udseende så man igen kan se knappen
    }
</script>

</body>
</html>