<!DOCTYPE html>
<html lang="da" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login – Deckforge</title>

    <!-- Style stien til hjemmesiden -->
    <link rel="stylesheet" href="/style.css">
</head>

<body>
<header th:replace="fragments/header :: header"></header>

<section class="hero">
    <h1>Login</h1>
    <p>Log ind for at få adgang til dine kort, decks og events</p>
</section>

<section class="content container center-text">

    <div class="login-box">
        <h2>Log ind</h2>

        <form th:action="@{/user/login}" method="post">

            <div class="form-group">
                <label>Brugernavn</label>
                <input type="text" name="username" class="input-field">
            </div>

            <div class="form-group">
                <label>Kode</label>
                <input type="password" name="password" class="input-field">
            </div>

            <button class="btn" type="submit">Login</button>

            <p class="error-text">Forkert brugernavn eller adgangskode</p>
        </form>

        <p class="register-text">
            Har du ikke en konto?
            <a th:href="@{/user/register}" class="link">Registrer dig her</a>
        </p>
    </div>

</section>

</body>
</html>
