<!DOCTYPE html>
<html lang="da" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registrer</title>
    <link rel="stylesheet" href="/deckforge.css">
    <link rel="stylesheet" href="/style.css">
</head>

<body>
<header class="header">
    <div class="container nav-container">
        <a href="#" class="logo">
            <img src="Logo_Deckforge2.png" class="logo-icon" alt="Deckforge logo">
        </a>

        <nav class="nav">
            <ul class="nav-list">
                <li><a href="#">Din Profil</a></li>
                <li><a href="#">Events</a></li>
                <li><a href="#">Alle Kort</a></li>
            </ul>
        </nav>
    </div>
</header>

<section class="content container">
    <h1>Registrer nyt medlem</h1>

    <form th:action="@{/user/register}" method="post" th:object="${user}" class="form">

        <div class="form-group">
            <label for="name">Navn</label>
            <input type="text" id="name" th:field="*{username}">
        </div>

        <div class="form-group">
            <label for="email">Email</label>
            <input type="text" id="email" th:field="*{email}">
        </div>

        <div class="form-group">
            <label for="password">Kode</label>
            <input type="password" id="password" th:field="*{password}">
        </div>

        <button class="btn" type="submit">Registrer</button>

        <p th:if="${error != null}" th:text="${error}" style="color:red; margin-top:10px;"></p>
    </form>
</section>

</body>
</html>
