<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<header class="header">
  <div class="container nav-container">
    <a href="#" class="logo">
      <img th:src="@{/images/Logo_Deckforge2.png}" class="logo-icon" alt="Deckforge logo">
    </a>

    <nav class="nav">
      <ul class="nav-list">
        <li><a th:href="@{/user/profile}">Din Profil</a></li>
        <li><a th:href="@{/event/ongoingEvents}">Events</a></li>
        <li><a th:href="@{/card/cardList}">Alle Kort</a></li>
        <li>
            <form th:action="@{/logout}" method="post">
                <button type="submit">Log Out</button>
            </form>
        </li>
      </ul>
    </nav>
  </div>
</header>

</body>
</html>