<!DOCTYPE html>
<html lang="da" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Deckforge</title>

    <!-- Brug almindelige relative stier -->
    <link rel="stylesheet" href="/deckforge.css">
    <link rel="stylesheet" href="/style.css">
</head>

<body>
<header class="header">
    <div class="container nav-container">
        <a href="#" class="logo">
            <img src="Logo_Deckforge2.png" class="logo-icon" alt="Deckforge logo">
        </a>

        <nav class="nav">
            <ul class="nav-list">
                <li><a href="#">Din Profil</a></li>
                <li><a href="#">Events</a></li>
                <li><a href="#">Alle Kort</a></li>
            </ul>
        </nav>
    </div>
</header>

<section class="hero">
    <h1>Velkommen til Deckforge</h1>
    <p>Platformen for passionerede Magic‑spillere</p>
</section>

<section class="content container center-text">
    <h2>Kom i gang</h2>

    <div class="login-buttons">
        <a class="btn" th:href="@{/user/login}">Login</a>
        <a class="btn" th:href="@{/user/register}">Registrer dig</a>

    </div>
</section>

</body>
</html>